# Lab16: Linear Regression

Required Features:
- [x] Load the data you receive into a Pandas DataFrame.
- [x] Show the first five rows of the data set.
- [x] Show the description and the info of the data set.
- [x] Ensure that any date columns have been cast into a datetime object in your DataFrame.
- [ ] Using a regression model, split your data into train and test data.
- [ ] Fit your training split to the regression model.
- [ ] Show your regression modelâ€™s score.
- [ ] Draw at least three conclusions from your regression model.
- [ ] Your notebook should be clutter free and polished.

## Importing data and libraries

In [2]:
import pandas as pd


df = pd.read_csv("./data.csv")

## Show the first five rows of the data set

In [4]:
df.head(5)

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

## Show the info of the data set

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  15 non-null     float64
 1   Weight  15 non-null     float64
dtypes: float64(2)
memory usage: 368.0 bytes

## Show the description of the data set

In [6]:
df.describe()

          Height     Weight
count  15.000000  15.000000
mean    1.650667  62.078000
std     0.114235   7.037515
min     1.470000  52.210000
25%     1.560000  56.520000
50%     1.650000  61.290000
75%     1.740000  67.190000
max     1.830000  74.460000

## Converting from metric

In [19]:
df['Weight_lbs'] = df['Weight']*2.20462
df['Height_in'] = df['Height']*39.3701

In [20]:
df.describe()

          Height     Weight  Height_in  Weight_lbs
count  15.000000  15.000000  15.000000   15.000000
mean    1.650667  62.078000  64.986912  136.858400
std     0.114235   7.037515   4.497424   15.515046
min     1.470000  52.210000  57.874047  115.103210
25%     1.560000  56.520000  61.417356  124.605122
50%     1.650000  61.290000  64.960665  135.121160
75%     1.740000  67.190000  68.503974  148.128418
max     1.830000  74.460000  72.047283  164.156005